bin/
target/
out/

**/*.iml
.idea/
.vscode/
.metals/
.bloop/

.classpath
.project
.settings/

dependency-reduced-pom.xml

# framework.jpg

# Ignore Gradle project-specific cache directory
**/.gradle/

# Ignore Gradle build output directory
build/
